<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog">
		<div class="loginmodal-container">
			<h1>史帝芬心得筆記</h1><br>
			<input type="text" [(ngModel)]="username" placeholder="Username">
			<input type="password" [(ngModel)]="password" placeholder="Password">
			<input type="submit" name="login" class="login loginmodal-submit" value="登入" (click)="clicked()" >
		</div>
		<div>{{message}}</div>
	</div>
</div>
